#
#Folders
*_tmp
*\log
target*/
#*\resources
*\.settings
*\bin
#*\lib
\test-output
*\draft*


#
#Files

*Draft*.*
#*RUN*.*
*.pmd
*.recommenders
*.metadata
*\.classpath
*\.project
*.class
#*.gitignore
#*.png
*.jpg
*.txt
#*.exe
*.log
*.jar
*.tar
*.war
*.zip
*.7z
*.deb
*.rpm
*.dmg
*.msi
*.settings
*.classpath
*.project
*.pydevproject
*.iml
*.ipr
.idea
*.lnk
*.data
*.checkstyle